.dash-layout{
    display: flex;
    min-height: 90vh;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.background2 {
    position: fixed;
    z-index: -1;
    top: 0px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #d4c9c8;
    opacity: 0.6;
}

.sidebar-menu{
    padding-top: 1rem;
    border-right: 2px solid gray;
    width: 18rem;
}
.sidebar-menu ul{
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}
.sidebar-menu li{
    height: 50px;
}
.sidebar-menu a{
    color: #4a4949;
    font-weight: 600;
    height: 100%;
    display: flex;
    padding-left: 1rem;
    gap: 10px;
    border-radius: 0.5rem;
    align-items: center;
}
.sidebar-menu a:hover{
    background-color: #c4f37e;
}