.container-fluid{
    min-height: 95vh;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro{
    position: relative;
    background-image: url('../static/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    z-index: 0;
    overflow: hidden;
}
.overlay{
    position: absolute;
    z-index: -1;
    background-color: #d0e4f6;
    opacity: 0.6;
    height: 100vh;
    width: 100%;
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 60px;
    padding: 3rem 5rem;
}

.content section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.content p{
    font-size: 16px;
}
.content a{
    text-decoration: none;
    color: aliceblue;
}
.content button{
    background-color: #34bf54;
    height: 35px;
    transition: all 0.2s;
}

.content button:hover{
    background-color: #2bc850;
}

/* Animations for sections */
@keyframes slideUp {
    from {
        transform: translateY(100%); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.content section:nth-child(1){
    animation: slideUp 1.5s ease-in-out forwards;
}
.content section:nth-child(2){
    animation: slideUp 2s ease-in-out forwards;
}

.content button{
    animation: slideUp 2.5s ease-in-out forwards;
}

/* Footer styles */
.container6 {
    display: flex;
    background-color: transparent;
    padding: 10px 120px;
    justify-content: space-between;
    align-items: center;
    background-color:#0074b3;
    width: 100%;
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container6 p{
    color: aliceblue;
}
.container6 ul{
    display: flex;
    gap:20px; 
    align-items: center;
    list-style-type: none;
}
.container6 a{
    color: aliceblue;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container6 h5{
    color: aliceblue;
}
.container6 img{
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.container6 img:hover{
    transform: scale(1.1);
}
.more-ul a:hover{
    text-decoration: underline;
}
@media screen and (max-width:575px) {
    .container6{
        padding: 10px 32px;
    }
    .container6 ul, h5{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:576px) {
    .container6{
        padding: 10px 64px;
    }
    .container6 ul, h5{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:992px) {
    .container6{
        padding: 10px 120px;
    }
    .container6 ul, h5{
        font-size: 0.9rem;
    }
}
