body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 95%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#divMargin{
    margin-top: 20px;
    margin-bottom: 10px;
}

.date-time-group {
    display: flex;
    flex-flow: column;
    width: 30%;
    padding: 15px 0px 5px 0px;
}

/* Style for "Add Hall" and "Add Date" buttons */
#addHall,
#addDate {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    width: auto;
    margin-bottom: 5px;
}

#addHall:hover,
#addDate:hover {
    background-color: #0056b3;
}

/* Style for Remove buttons */
button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #d32f2f;
}
