@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Inter:wght@300&family=Wallpoet&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  background: #fff;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
