{% extends 'base.html' %}
{% block title %}
    <title>About Hall Booking System</title>
{% endblock %}
{% block content %}
        <div id="aboutDiv">
            <main id="aboutMain">
                <header id="aboutHeader">
                    <h1 id="aboutH1">About Our College Venue Booking System</h1>
                </header>
                <section>
                    <h2 class="aboutH2">Hall Booking System</h2>
                    <p class="aboutPara">
                        Our College Hall Booking System is a convenient and
                        efficient platform designed to simplify the process of
                        reserving rooms and halls for your events and activities
                        within our college campus.
                    </p>
                </section>

                <section>
                    <h2 class="aboutH2">Key Features</h2>
                    <ul id="aboutUL">
                        <li class="aboutList">
                            Streamlined Booking: Say goodbye to the hassle of
                            waiting for faculty approval. You can now request
                            venues online, anytime, from anywhere.
                        </li>
                        <li class="aboutList">
                            Approval Workflow: Your booking requests will be
                            reviewed online, and once approved, they become
                            legitimate reservations.
                        </li>
                        <li class="aboutList">
                            Institute Account Login: Access the system with your
                            institute account for a secure and seamless
                            experience.
                        </li>
                    </ul>
                </section>

                <section>
                    <h2 class="aboutH2">How It Works</h2>
                    <ol id="aboutOL">
                        <li class="aboutList">Log in with your institute account credentials.</li>
                        <li class="aboutList">
                            Select the venue and date you want to reserve for
                            your event.
                        </li>
                        <li class="aboutList">
                            Submit your request, which will be reviewed by the
                            designated authority.
                        </li>
                        <li class="aboutList">
                            Once approved, your reservation is confirmed, and
                            you can start planning your event!
                        </li>
                    </ol>
                </section>
            </main>

            <!-- <footer id="aboutFooter">
                <p class="aboutPara">&copy; SRAVN Hall Booking System</p>
            </footer> -->
        </div>
    

{% endblock %}