<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIIT Trichy Hall Booking</title>
    <link rel="stylesheet" type='text/css' href="../static/allocation.css">
    <script defer type="text/javascript" src="../static/allocation.js"></script>
</head>

<body>
    <table>
        <thead>
            <tr class="thead-row">
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
        <tfoot>
            <tr>
              <th scope="row">Legend</th>
              <td>Red</td>
              <td>Blue</td>
              <td>Yellow</td>
              <td>Green</td>
            </tr>
          </tfoot>
    </table>
</body>

</html>