{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Hall Booking System</title>
  {% endblock %}
  <meta charset="utf-8" />

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" type="text/css" href="{% static '../static/allocation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/base.css' %}">

  <script>
    var Classrooms_list = JSON.parse("{{ Classrooms_list|escapejs|safe }}");
    var SeminarHalls_list = JSON.parse("{{ SeminarHalls_list|escapejs|safe }}");
    var MeetingHalls_list = JSON.parse("{{ MeetingHalls_list|escapejs|safe }}");
  </script>
  <script defer type="text/javascript" src="{% static '../static/navbar.js' %}"></script>
  <script defer type="text/javascript" src="{% static '../static/form.js' %}"></script>
  <script defer type="text/javascript" src="{% static '../static/allocation.js' %}"></script>
</head>

<body>
  <div class="container-fluid">

    {% block navbar %}
    <div id="navbar">
      <div id="nav-up">
        <a href='/'>Hall Booking System</a>
      </div>
      <div id="nav-down">
        <form id="myForm" method="post">
          {% csrf_token %}
          <select name="hall-types" id="hall-types" onchange="updateSecondDropdown()">
            <option selected value="">Select Hall Type</option>
            <option value="Classrooms">Classrooms</option>
            <option value="Seminar Halls">Seminar Halls</option>
            <option value="Meeting Halls">Meeting Halls</option>
          </select>
          <select name="hall-subtypes" id="hall-subtypes" disabled>
          </select>
          <input name="calendar-date" type="date" id="calendar-date">
          <input name="submit-btn" type="submit" id="submit-btn">
        </form>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    <div class="intro">
      <div class="overlay"></div>
      <h1>Local Library Home</h1>
      <p>
        Welcome to LocalLibrary, a website developed by
        <em>Mozilla Developer Network</em>!
      </p>
      <h2>Dynamic content</h2>
      <p>The library has the following record counts:</p>
      <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
      </ul>
      <button>
        <a href="/table">Get started</a>
      </button>
    </div>
    {% endblock %}
  </div>
  <footer>
    <section class="container6">
      <ul class='more-ul'>
        <li>
          <a href='/about'>About</a>
        </li>
        <!-- <li>
          <a href='/contact'>Contact</a>
        </li> -->
      </ul>
      <p>&copy; SRAVN Hall Booking System</p>
      <ul>
        <li><a href="https://github.com/am-3/SRAVN"><img src='../static/img/github.png' alt="github" height='25px'/></a></li>
      </ul>
    </section>
  </footer>
</body>

</html>