{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Hall Booking System</title>
  {% endblock %}
  <meta charset="utf-8" />

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" type="text/css" href="{% static '../static/allocation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '../static/status.css' %}">

  <script>
    var Classrooms_list = JSON.parse("{{ Classrooms_list|escapejs|safe }}");
    var SeminarHalls_list = JSON.parse("{{ SeminarHalls_list|escapejs|safe }}");
    var MeetingHalls_list = JSON.parse("{{ MeetingHalls_list|escapejs|safe }}");
  </script>
  <script defer type="text/javascript" src="{% static '../static/navbar.js' %}"></script>
  <script defer type="text/javascript" src="{% static '../static/form.js' %}"></script>
  <script defer type="text/javascript" src="{% static '../static/allocation.js' %}"></script>
</head>

<body>
  <div class="container-fluid">

    {% block navbar %}
    <div id="navbar">
      <div id="nav-up">
        <a href='/'>Hall Booking System</a>
      </div>
      <div id="nav-down">
        <form id="myForm" method="post">
          {% csrf_token %}
          <select name="hall-types" id="hall-types" onchange="updateSecondDropdown()">
            <option selected value="">Select Hall Type</option>
            <option value="Classrooms">Classrooms</option>
            <option value="Seminar Halls">Seminar Halls</option>
            <option value="Meeting Halls">Meeting Halls</option>
          </select>
          <select name="hall-subtypes" id="hall-subtypes" disabled>
          </select>
          <input name="calendar-date" type="date" id="calendar-date">
          <input name="submit-btn" type="submit" id="submit-btn">
        </form>
      </div>
    </div>
    {% endblock %}

  {% load socialaccount %}
  <h2> GLogin</h2>
  <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>

  {% if user.is_authenticated %}
    <p>Signed in as {{user.name}}</p>
    <a href="/accounts/logout/">Logout</a>
  {% endif %}



    {% block content %}
    <div class="intro">
      <div class="overlay"></div>
      <div class="content">
        <section>
          <h1>Welcome to the Hall Booking System</h1>
          <p>
            Discover endless possibilities and unlock the perfect space for your events. Whether it's a classroom, a
            seminar
            hall, or a meeting room, we've got you covered!
          </p>
        </section>
        <section>
          <h2>Your Space, Your Way</h2>
          <p>Book the ideal venue for your next event with ease. Choose from a variety of options and make your
            reservation
            today.</p>
        </section>
        <button>
          <a href="/table">Start Booking</a>
        </button>
      </div>
    </div>
    {% endblock %}
  </div>
  <footer>
    <section class="container6">
      <ul class='more-ul'>
        <li>
          <a href='/about'>About</a>
        </li>
        <!-- <li>
          <a href='/contact'>Contact</a>
        </li> -->
      </ul>
      <p>&copy; SRAVN Hall Booking System</p>
      <ul>
        <li><a href="https://github.com/am-3/SRAVN"><img src='../static/img/github.png' alt="github"
              height='25px' /></a></li>
      </ul>
    </section>
  </footer>
</body>

</html>