{% extends "base.html" %} 

{% block title %}
    <title>Hall Booking Form</title>
{% endblock %}

{% block navbar %}
<div id="navbar">
    <div id="nav-up">
        <a href="/"><p>Hall Booking System</p></a>
    </div>
</div>
{% endblock %} 

{% block content %}
<form id="eventForm">
    <h1 id="form-title">Event Request Form</h1>

    <div class="form-group">
        <label for="halls">Venue(s)</label>
        <!-- Hall(s) required -->
        <div id="hallNumbers">
            <select id="hallSelect" name="halls" required>
                <option value="" selected disabled hidden>
                    Select Room Number
                </option>
            </select>
        </div>
        <button id="addHall">Add Venue</button>
        <div id="hallTemplate" style="display: none">
            <select name="halls" required>
                <option value="" selected disabled hidden>
                    Select Room Number
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="eventName">Name of the event</label>
        <input
            type="text"
            id="eventName"
            name="eventName"
            required
            placeholder="Enter name of the event"
        />
    </div>

    <div class="form-group">
        <label for="eventDates">Date(s) of the event</label>
        <div id="eventDates">
            <div class="date-time-group">
                <input
                    type="date"
                    name="dates"
                    id="dateInput"
                    title="Select date"
                    required
                />
                <select
                    id="startTimeSelect"
                    name="startTimes"
                    required
                ></select>
                <select id="endTimeSelect" name="endTimes" required></select>
            </div>
        </div>
        <button id="addDate">Add Date</button>
    </div>

    <div class="form-group">
        <label for="purpose">Event Description</label>
        <textarea
            id="purpose"
            name="purpose"
            rows="5"
            wrap="hard"
            required
            placeholder="Write description of your event"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="audioSystem">
            <input type="checkbox" id="audioSystem" name="audioSystem" />
            Check here if you require Audio System.
        </label>
    </div>

    <div class="form-group">
        <label for="projector">
            <input type="checkbox" id="projector" name="projector" />
            Check here if you require Projector.
        </label>
    </div>

    <div class="form-group" id="divMargin">
        <label for="eventCoordinatorName">Event Coordinator Details</label>
        <input
            type="text"
            id="eventCoordinatorName"
            name="eventCoordinatorName"
            placeholder="Enter faculty name"
            required
        />
        <label for="eventCoordinatorEmail"></label>
        <input
            type="email"
            id="eventCoordinatorEmail"
            name="eventCoordinatorEmail"
            placeholder="Enter faculty email"
            pattern=".*@iiitt.ac.in"
            title="Please enter an email address of iiitt domain."
            required
        />
        <label for="eventCoordinatorDept"></label>
        <select name="eventCoordinatorDept" id="eventCoordinatorDept" required>
            <option value="" selected disabled hidden>Select Department</option>
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
        </select>
    </div>

    <div class="form-group">
        <label for="undertaking"
            >By checking the box below, I take complete responsibility of taking
            care of all the electronic/non-electronic items in the
            hall/room.</label
        >
        <input type="checkbox" id="undertaking" name="undertaking" required />
    </div>

    <div class="form-group" id="divMargin">
        <label for="sanctionLetter">PDF of sanction letter</label>
        <input
            type="file"
            id="sanctionLetter"
            name="sanctionLetter"
            accept=".pdf"
            required
        />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" />
    </div>
</form>
{% endblock %}
