<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css" type="text/css">
    <script src="../static/navbar.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <div id="nav-up">
            <p>IIIT Trichy Hall Booking</p>
        </div>
        <select name="hall-types" id="hall-types" onchange="updateSecondDropdown()">
            <option selected value="">Select Hall Type</option>
            <option value="Classrooms">Classrooms</option>
            <option value="Seminar Halls">Seminar Halls</option>
            <option value="Meeting Halls">Meeting Halls</option>
        </select>
        <select name="hall-subtypes" id="hall-subtypes" hidden>
        </select>
        <div class="calendar">
            <input type="date" id="calendar-date">
        </div>
    </div>
</body>
</html>